body {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}

.dave {
  background-color: darkcyan;
  border-radius: 15px;
  padding: 15px;
}

.dave img {
  margin-bottom: 10px;
}

.dave h2, a {
  color: white;
}

.dave a {
  font-size: 1.2em;
}

.dave a:hover {
  text-decoration: none;
  color: aqua;
}

/* Dillan Teagle Below*/

.dillan {
  background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
  border-radius: 15px;
  padding: 15px;
  height: 540px;
}

.dillan img {
  margin-bottom: 10px;
}

.dillan h2, a {
  color: white;
}

.dillan a {
  font-size: 1.2em;
}

.dillan a:hover {
  text-decoration: none;
  color: red;
}

.BG {
  background-color: #A9A9A9;
  color: black;
}

/*Dillan Teagle End*/
}
