body {
  font-family: 'Roboto', sans-serif;
}

img {
  width: 100%;
}

.dave {
  background-color: darkcyan;
  border-radius: 15px;
  padding: 15px;
}

.dave img {
  margin-bottom: 10px;
}

.dave h2, a {
  color: white;
}

.dave a {
  font-size: 1.2em;
}

.dave a:hover {
  text-decoration: none;
  color: aqua;
}
.casey {
  background-color: slategray;
  border-radius: 15px;
  padding: 15px;
}

.casey img {
  margin-bottom: 10px;
}

.casey h2, a {
  color: blue;
}

.casey ul{
  font-size: 1.2em
  color: white;
}
